<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">NYT Scraper</a>
        </div>

        <ul class="nav navbar-nav">
            <li class="active">
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/saved">Saved Articles</a>
            </li>
            <li>
                <a class="btn btn-danger scrape-new">Scrape New Articles!</a>
            </li>
        </ul>
    </div>
</nav>

<div class="jumbotron text-center">
    <div class="overlay">
    </div>
    <div class="backgroung-image">
    </div>
    <div class="caption">
        <h1>News Scraper</h1>
        <p>New York Times</p>
    </div>
</div>

<div class="container-fluid article-container">
</div>

<footer class="footer">
    <div class="container">
        <p>New York Times Scraper</p>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<script src="../../assets/javascript/index.js"></script>